body {
    background-color:#fdeedc ;
  }
h1{
    color: #E38B29;
}
h3{
    color:#E38B29;
}
  hr{
    border-color: grey;
    border-style: dotted none none none;    
    border-width: 5px;
    width: 5%;
  }
img{
    /*background-color: red;*/
}